*~
*.a
*.o
*.la
*.lo
*.log
*.m4
*.so
*.swp
*.swo
*.trs
.autotools
.cproject
.deps
.dirstamp
.libs/
.project
.settings
aclocal.m4
ar-lib
autom4te.cache
build
compile
config.guess
config.log
config.status
config.sub
configure
configure-stamp
depcomp
install-sh
libtool
ltmain.sh
Makefile.in
Makefile
missing
clevis
cmd/encrypt
cmd/decrypt
cmd/pins/http
cmd/pins/sss
cmd/pins/tang
cmd/pins/test
tags
test-driver
dracut/module-setup.sh
udisks2/clevis-luks-udisks2
udisks2/clevis-luks-udisks2.desktop
